<div class="grid grid-cols-3 gap-4 p-2">
  <!-- left control -->
  <div class="flex items-center rounded-md no-underline">
    <a href="" class="flex items-center no-underline p-2 hover:rounded-md hover:bg-slate-900">
      <div class="w-12 h-12 rounded-md bg-sky-600">
      </div>

      <div class="pl-2 flex flex-col space-y-1">
        <h4 class="text-md text-zinc-200">musica</h4>
        <h5 class="text-zinc-400">hinario fdsfsdjfnsdjfbndjfbn</h5>
      </div>
    </a>
  </div>

  <!-- middle control -->
  <div class="flex flex-col items-center justify-center">
    <div class="flex items-center gap-4">
      <lucide-icon name="shuffle" class="shuffle" size="20" class="flex flex-col items-center justify-center text-zinc-400 hover:text-zinc-200"></lucide-icon>
      <lucide-icon name="skip-back" class="skip-back" size="20" class="flex flex-col items-center justify-center text-zinc-400 hover:text-zinc-200"></lucide-icon>
      <button class="w-10 h-10 flex flex-col items-center justify-center pt-0.5 rounded-full pl-0.5 border-solid border-slate-950 hover:border-white">
        <lucide-icon name="play" class="play" size="20"></lucide-icon>
      </button>
      <lucide-icon name="skip-forward" class="skip-forward" size="20" class="flex flex-col items-center justify-center text-zinc-400 hover:text-zinc-200"></lucide-icon>
      <lucide-icon name="repeat" class="repeat" size="20" class="flex flex-col items-center justify-center text-zinc-400 hover:text-zinc-200"></lucide-icon>
    </div>
    <div class="flex items-center gap-2 pt-2">
      <div><h5 class="text-zinc-400">1:42</h5></div>
      <div class="bg-zinc-500 w-96 h-1 rounded-full">
        <div class="bg-white h-1 rounded-full" style="width: 45%"></div>
      </div>
      <div><h5 class="text-zinc-400">3:00</h5></div>
    </div>
  </div>

  <!-- right control -->
  <div class="gap-4 flex items-center justify-self-end">
    <button>
      <lucide-icon name="list-video" class="list-video" size="20" class="flex flex-col items-center justify-center text-zinc-400 hover:text-zinc-200"></lucide-icon>
    </button>
    <lucide-icon name="volume-1" class="volume-1" size="20" class="flex flex-col items-center justify-center text-zinc-400 hover:text-zinc-200"></lucide-icon>
    <div class="bg-zinc-500 w-24 h-1 rounded-full">
      <div class="bg-white h-1 rounded-full" style="width: 45%"></div>
      <!--      <div class="bg-white h-2 w-2 rounded-full"></div>-->
    </div>
    <lucide-icon name="maximize-2" class="maximize-2" size="20" class="pr-1 flex flex-col items-center justify-center text-zinc-400 hover:text-zinc-200"></lucide-icon>
  </div>
</div>
