<div class="flex flex-col" style="height: 100%">
  <header>
    <div class="flex items-end h-72 bg-sky-900 rounded-t-lg">
      <div class="flex pl-8 pb-8">
        <img src="assets/album-images/{{worshipProgram.image}}" class="h-40 w-40 object-cover">
      </div>

      <div class="flex-1 pb-6 pl-4">
        <div>
          <h5 class="text-xl text-zinc-400">Worship Program</h5>
          <div class="flex items-end gap-2">
            <h1 class="text-6xl text-zinc-200">{{worshipProgram.name}}</h1>
            <button class="no-underline text-zinc-200 bg-transparent border-none hover:text-sky-500">
              <lucide-icon name="pencil-line" class="pencil-line"></lucide-icon>
            </button>
          </div>
        </div>
      </div>

      <div class="flex pr-8 pb-8 gap-2">
        <button (click)="toggleAddLabel()" class="bg-sky-500 p-2 rounded-md border-none hover:bg-sky-700" type="button">
          <div class="flex items-center text-zinc-200">
            <h4 class="text-zinc-200">Add New Song</h4>
          </div>
        </button>
        <button (click)="toggleDeleteWorship()" class="bg-red-500 p-2 rounded-md border-none hover:bg-red-700" type="button">
          <div class="flex items-center text-zinc-200">
            <h4 class="text-zinc-200">Delete Album</h4>
          </div>
        </button>
      </div>
    </div>

    <div class="grid grid-cols-12 gap-4 pl-5 pr-5 pt-5">
      <div class="flex items-center pl-6">
        <h4 class="text-zinc-200">#</h4>
      </div>
      <div class="flex items-center col-span-3">
        <h4 class="text-zinc-200">Moment</h4>
      </div>
      <div class="flex items-center col-span-3">
        <h4 class="text-zinc-200">Music</h4>
      </div>
      <div class="flex items-center col-span-2 justify-self-end">
        <h4 class="text-zinc-200">Number</h4>
      </div>
      <div class="flex items-center col-span-2 justify-self-end">
        <h4 class="text-zinc-200">Times Played</h4>
      </div>
      <div class="flex items-center justify-self-end pr-6">
        <h4 class="text-zinc-200">Delete</h4>
      </div>
    </div>

    <hr class="h-px mt-4 mb-4 bg-zinc-700 border-0">
  </header>

  <main class="flex-1 p-5 overflow-y-auto">
    <div class="grid grid-cols-12 gap-4 pl-5 pr-5 pt-5">

    </div>

    <div *ngFor="let moment of worshipProgram.moments; index as i;" class="grid grid-cols-12 gap-4 pt-2 pb-2 no-underline group hover:bg-sky-900 rounded-sm">
      <div class="flex items-center pl-6">
        <div class="flex items-center text-zinc-400">
          <h4 class="pr-2">{{i + 1}}</h4>
          <button (click)="sentToHistory(moment.song.id)"
            class="cursor-pointer pt-1 no-underline border-none bg-transparent text-zinc-400 hover:text-zinc-200 invisible group-hover:visible">
            <lucide-icon name="play" class="play" size="20"></lucide-icon>
          </button>
        </div>
      </div>
      <div class="flex items-center col-span-3">
        <h4 class="text-zinc-200">{{moment.label}}</h4>
      </div>
      <div class="flex items-center col-span-3">
        <div class="flex items-center">
          <div *ngIf="moment.song != null" class="flex items-center gap-3">
            <img src="assets/album-images/{{moment.song.album.image}}" class="h-12 w-12 object-cover">
            <div class="flex flex-col space-y-1">
              <h4 class="text-md text-zinc-200">{{moment.song.name}}</h4>
              <h5 class="text-zinc-400">{{moment.song.album.name}}</h5>
            </div>
          </div>
          <h4>selecione um</h4>
        </div>
      </div>
      <div class="flex items-center col-span-2 justify-self-end text-zinc-400">
        <h4 *ngIf="moment.song != null" class="text-zinc-200">{{moment.song.number}}</h4>
        <h4 *ngIf="moment.song == null" class="text-zinc-200">-</h4>
      </div>
      <div class="flex items-center col-span-2 justify-self-end">
        <h4 *ngIf="moment.song != null" class="text-zinc-200">{{moment.song.times_played}}</h4>
        <h4 *ngIf="moment.song == null" class="text-zinc-200">times</h4>
      </div>
      <div class="flex items-center justify-self-end pr-6">
        <button (click)="deleteLabel(moment.id, i)" class="no-underline border-none bg-transparent text-red-400 hover:text-red-700">
          <lucide-icon name="minus-circle" class="minus-circle"></lucide-icon>
        </button>
      </div>
    </div>
  </main>
</div>

<div *ngIf="showDeleteModal" class="fixed inset-0 z-50 justify-center items-center flex">
  <div class="relative w-auto bg-sky-900 rounded-lg p-5">
    <h3 class="text-zinc-200">Are you sure that you want to delete this Worship Program?</h3>

    <div class="pt-8 flex items-center gap-2">
      <button (click)="deleteWorship()" class="bg-sky-500 p-2 rounded-md border-none hover:bg-sky-700 w-20" type="button">
        <div class="flex items-center justify-center text-zinc-200">
          <h4 class="text-zinc-200">Confirm</h4>
        </div>
      </button>
      <button (click)="toggleDeleteWorship()" class="bg-red-500 p-2 rounded-md border-none hover:bg-red-700 w-20" type="button">
        <div class="flex items-center justify-center text-zinc-200">
          <h4 class="text-zinc-200">Cancel</h4>
        </div>
      </button>
    </div>
  </div>
</div>
<div *ngIf="showDeleteModal" class="opacity-50 fixed inset-0 z-40 bg-black"></div>

<div *ngIf="showAddLabelModal" class="fixed inset-0 z-50 justify-center items-center flex">
  <div class="relative w-auto bg-sky-900 rounded-lg p-5">
    <h3 class="text-zinc-200">Add new Moment</h3>

    <form class="pt-5" [formGroup]="form">
      <div class="flex items-center gap-5">
        <div>
          <label for="label" class="control-label block text-sm font-medium text-zinc-200 pb-2">Moment name</label>
          <input formControlName="label" type="text" id="label" size="50"
                 class="outline-none text-sm rounded-lg block w-full pt-2 pb-2 pl-2 bg-slate-900 border-none placeholder-zinc-400 text-white focus:ring-blue-500 focus:border-blue-500"
                 placeholder="Moment name">
        </div>
      </div>
    </form>

    <div class="pt-8 flex items-center gap-2">
      <button (click)="addLabel()" class="bg-sky-500 p-2 rounded-md border-none hover:bg-sky-700 w-20" type="button">
        <div class="flex items-center justify-center text-zinc-200">
          <h4 class="text-zinc-200">Save</h4>
        </div>
      </button>
      <button  class="bg-red-500 p-2 rounded-md border-none hover:bg-red-700 w-20" type="button">
        <div (click)="toggleAddLabel()" class="flex items-center justify-center text-zinc-200">
          <h4 class="text-zinc-200">Cancel</h4>
        </div>
      </button>
    </div>

  </div>
</div>
<div *ngIf="showAddLabelModal" class="opacity-50 fixed inset-0 z-40 bg-black"></div>
