<div class="fixed inset-0 z-50 justify-center items-center flex">
  <div class="relative w-auto bg-sky-900 rounded-lg p-5">
    <h3 class="text-zinc-200">Add new Album</h3>

    <form class="pt-5" [formGroup]="form">
      <div class="flex items-center gap-5">
        <div>
          <label for="album_name" class="control-label block text-sm font-medium text-zinc-200 pb-2">Album name</label>
          <input [(ngModel)]="this.album.name" formControlName="album_name" type="text" id="album_name" size="50"
                 class="border text-sm rounded-lg block w-full pt-2 pb-2 pl-2 bg-slate-900 border-none placeholder-zinc-400 text-white focus:ring-blue-500 focus:border-blue-500"
                 placeholder="Album name">
        </div>
      </div>
      <div class="pt-5">
        <label class="block mb-2 text-sm font-medium text-zinc-200" for="image">Choose album cover</label>
        <input [(ngModel)]="this.album.image" formControlName="image" type="file" id="image"
               class="border text-sm rounded-lg block w-full pt-2 pb-2 pl-2 bg-slate-900 border-none text-zinc-400 placeholder-zinc-400 text-white focus:ring-blue-500 focus:border-blue-500
                  file:bg-sky-500 file:border-none file:rounded-md file:text-zinc-200 file:no-underline file:pr-4 file:pl-4 file:pt-1 file:pb-1 file:mr-2"
               placeholder="Album cover">
      </div>
    </form>

    <div class="pt-8 flex items-center gap-2">
      <button (click)="onSubmit(this.album)" class="bg-sky-500 p-2 rounded-md border-none hover:bg-sky-700 w-20" type="button">
        <div class="flex items-center justify-center text-zinc-200">
          <h4 class="text-zinc-200">Save</h4>
        </div>
      </button>
      <button (click)="onCancel()" class="bg-red-500 p-2 rounded-md border-none hover:bg-red-700 w-20" type="button">
        <div class="flex items-center justify-center text-zinc-200">
          <h4 class="text-zinc-200">Cancel</h4>
        </div>
      </button>
    </div>

  </div>
</div>
<div class="opacity-50 fixed inset-0 z-40 bg-black"></div>

