<div class="flex flex-col" style="height: 100%">
  <header>
    <aside class="p-5 bg-slate-900 rounded-lg">
      <nav class="space-y-4">
        <a routerLink="/home" routerLinkActive="bg-slate-800 rounded-md"
           class="p-2 flex items-center gap-3 text-sm font-semibold text-zinc-200 no-underline hover:bg-slate-800 hover:rounded-md transition-colors">
          <lucide-icon name="home" class="home"></lucide-icon>
          <h3><strong>Home</strong></h3>
        </a>
        <a routerLink="/search-songs" routerLinkActive="bg-slate-800 rounded-md"
           class="p-2 flex items-center gap-3 text-sm font-semibold text-zinc-200 no-underline hover:bg-slate-800 hover:rounded-md transition-colors">
          <lucide-icon name="search" class="search"></lucide-icon>
          <h3><strong>Search</strong></h3>
        </a>

        <hr class="h-px my-8 bg-zinc-700 border-0">

        <a (click)="toggleWorshipModal()"
           class="p-2 flex items-center gap-3 text-sm font-semibold text-zinc-200 no-underline hover:bg-slate-800 hover:rounded-md transition-colors">
          <lucide-icon name="plus-square" class="plus-square"></lucide-icon>
          <h3><strong>Worship programs</strong></h3>
        </a>
        <a (click)="toggleAlbumModal()"
           class="p-2 flex items-center gap-3 text-sm font-semibold text-zinc-200 no-underline hover:bg-slate-800 hover:rounded-md transition-colors">
          <lucide-icon name="plus-square" class="plus-square"></lucide-icon>
          <h3><strong>Album</strong></h3>
        </a>
      </nav>
    </aside>

    <div class="flex items-center mt-2 text-zinc-200 bg-slate-900 rounded-t-lg">
    </div>
  </header>

  <main class="flex-1 overflow-y-auto bg-slate-900 rounded-b-lg p">
  <div class="tabs-container">
    <!-- Tab Navigation -->
    <ul class="tabs flex w-full border-b">
      <li (click)="selectTab('content')" [class.active]="selectedTab === 'content'"
          class="tab-item cursor-pointer px-4 py-2" [ngClass]="{'bg-slate-800 text-bold rounded-t-md': selectedTab === 'content'}">
        <h3 class="text-sm">Albums</h3>
      </li>
      <li (click)="selectTab('quick-search')" [class.active]="selectedTab === 'quick-search'"
          class="tab-item cursor-pointer px-4 py-2" [ngClass]="{'bg-slate-800 text-bold rounded-t-md': selectedTab === 'quick-search'}">
        <h3 class="text-sm">Quick Search</h3>
      </li>
    </ul>

    <!-- Tab Content -->
    <div class="tab-content">
      <!-- Content Tab -->
      <div *ngIf="selectedTab === 'content'" class="content-tab overflow-y-auto">
        <ul class="mt-4 flex ml-2 mr-2 flex-col list-none">
          <li *ngFor="let album of albums" class="hover:bg-slate-800 hover:rounded-md transition-colors pt-2 pb-2 pr-2">
            <div (click)="redirect(album.id)"
                 class="flex items-center cursor-pointer no-underline truncate text-ellipsis overflow-hidden">
              <img src="assets/images/{{album.image_url}}" class="h-12 w-12 object-cover ml-2">
              <div class="pl-2 flex flex-col space-y-1">
                <h5 class="text-zinc-400">{{album.title}}</h5>
              </div>
            </div>
          </li>
          <li *ngIf="albums == null || albums.length == 0" class="pl-2 pt-2 pb-2">
            <h3 class="text-zinc-400">There are no albums to display</h3>
          </li>
        </ul>
      </div>

      <!-- Quick Search Tab -->
      <div *ngIf="selectedTab === 'quick-search'" class="quick-search-tab">
        <div class="flex flex-row p-2">
          <div class="flex items-center pr-2">
            <lucide-icon name="search" class="search" class="pt-0.5 text-zinc-200"></lucide-icon>
          </div>
          <input
            (keyup)="searchSong($event)" type="text" class="flex-grow w-full rounded-md bg-gray-100 outline outline-offset-2 outline-1 outline-sky-600 border-0 pl-2 text-gray-900 placeholder:text-gray-400" placeholder="Search">
        </div>

        <ul class="mt-2 flex ml-2 mr-2 flex-col list-none">
          <li *ngFor="let song of this.filteredSongs" class="hover:bg-slate-800 hover:rounded-md transition-colors pt-2 pb-2 pr-2">
            <div (click)="redirect(song.album_id)"
                 class="flex items-center cursor-pointer no-underline truncate text-ellipsis overflow-hidden">
              <div class="pl-2 flex flex-col space-y-1">
                <h5 class="text-zinc-200">{{song.title}}</h5>
                <h5 class="text-zinc-400">{{song.album_name}}</h5>
              </div>
            </div>
          </li>
          <li *ngIf="this.filteredSongs == null || this.filteredSongs.length == 0" class="pl-2 pt-2 pb-2">
            <h3 class="text-zinc-400">There are no songs to display</h3>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>

</div>

<div *ngIf="showAlbumModal" class="fixed inset-0 z-50 justify-center items-center flex">
  <div class="relative w-auto bg-sky-900 rounded-lg p-5">
    <h3 class="text-zinc-200">Add new Album</h3>

    <div class="pt-5">
      <div class="flex items-center gap-5">
        <div>
          <input [(ngModel)]="this.newAlbumName" type="text" size="50"
                 class="outline-none text-sm rounded-lg block w-full pt-2 pb-2 pl-2 bg-slate-900 border-none placeholder-zinc-400 text-white focus:ring-blue-500 focus:border-blue-500"
                 placeholder="Album name">
        </div>
      </div>
    </div>

    <div class="pt-8 flex items-center gap-2">
      <button (click)="createAlbum()" [disabled]="this.newAlbumName == null || this.newAlbumName == ''"
              class="bg-sky-500 p-2 rounded-md border-none disabled:bg-zinc-500 disabled:cursor-not-allowed hover:bg-sky-700 w-20"
              type="button">
        <div class="flex items-center justify-center text-zinc-200">
          <h4 class="text-zinc-200">Save</h4>
        </div>
      </button>
      <button class="bg-red-500 p-2 rounded-md border-none hover:bg-red-700 w-20" type="button">
        <div (click)="toggleAlbumModal()" class="flex items-center justify-center text-zinc-200">
          <h4 class="text-zinc-200">Cancel</h4>
        </div>
      </button>
    </div>

  </div>
</div>
<div *ngIf="showAlbumModal" class="opacity-50 fixed inset-0 z-40 bg-black"></div>

<div *ngIf="showWorshipModal" class="fixed inset-0 z-50 justify-center items-center flex">
  <div class="relative w-auto bg-sky-900 rounded-lg p-5">
    <h3 class="text-zinc-200">Add new Worship</h3>

    <div class="pt-5">
      <div class="flex items-center gap-5">
        <div>
          <input [(ngModel)]="this.newWorshipName" type="text" size="50"
                 class="outline-none text-sm rounded-lg block w-full pt-2 pb-2 pl-2 bg-slate-900 border-none placeholder-zinc-400 text-white focus:ring-blue-500 focus:border-blue-500"
                 placeholder="Worship name">
        </div>
      </div>
    </div>

    <div class="pt-8 flex items-center gap-2">
      <button (click)="createWorship()" [disabled]="this.newWorshipName == null || this.newWorshipName == ''"
              class="bg-sky-500 p-2 rounded-md border-none disabled:bg-zinc-500 disabled:cursor-not-allowed hover:bg-sky-700 w-20"
              type="button">
        <div class="flex items-center justify-center text-zinc-200">
          <h4 class="text-zinc-200">Save</h4>
        </div>
      </button>
      <button class="bg-red-500 p-2 rounded-md border-none hover:bg-red-700 w-20" type="button">
        <div (click)="toggleWorshipModal()" class="flex items-center justify-center text-zinc-200">
          <h4 class="text-zinc-200">Cancel</h4>
        </div>
      </button>
    </div>

  </div>
</div>
<div *ngIf="showWorshipModal" class="opacity-50 fixed inset-0 z-40 bg-black"></div>
