<div class="flex flex-col w-96" style="height: 100%" *ngIf="showQueue">
    <header class="mt-2 mb-2 mr-2 bg-slate-900 rounded-lg" style="height: 100%" *ngIf="isQueueNull">
      <aside class="p-5">
        <div class="">
          <div class="flex items-center text-zinc-200 bg-slate-900 rounded-t-lg">
            <h3 class="flex-1 text-zinc-200">Nothing playing now</h3>
          </div>
        </div>
      </aside>
    </header>

  <header class="mt-2 mb-2 mr-2 bg-slate-900 rounded-lg" *ngIf="!isQueueNull">
    <div class="flex items-center pt-5 pl-5 pb-5 text-zinc-200">
      <h3 class="flex-1 text-zinc-200">Preview</h3>
    </div>

    <!-- preview video -->
    <!--      <div>-->
    <!--        <div class="flex items-center justify-center mr-5 ml-5 pb-5">-->
    <!--          <div class="w-full h-44 bg-sky-600 rounded-md"></div>-->
    <!--        </div>-->
    <!--      </div>-->

    <!-- preview PDF -->
    <div>
      <div class="flex items-center justify-center mr-5 ml-5 pb-5">
        <div class="w-full h-44 bg-sky-600 rounded-md"></div>
      </div>
    </div>

    <div class="flex items-center justify-center pb-5">
      <div>
        <lucide-icon name="chevron-left" size="40" class="flex chevron-left text-zinc-200"></lucide-icon>
      </div>

      <!-- middle control -->
      <div class="flex flex-col pl-2 pr-2">
        <div class="flex gap-4">
          <h4 class="text-zinc-200">Slide 1 to 11</h4>
        </div>
        <div class="flex gap-2 pt-2">
          <div class="bg-zinc-500 w-24 h-1 rounded-full">
            <div class="bg-white h-1 rounded-full" style="width: 10%"></div>
          </div>
        </div>
      </div>

      <div>
        <lucide-icon name="chevron-right" size="40" class="flex chevron-right text-zinc-200"></lucide-icon>
      </div>
    </div>
  </header>

  <div class="flex items-center p-5 pb-2 mr-2 text-zinc-200 bg-slate-900 rounded-t-lg" *ngIf="!isQueueNull">
    <h3 class="flex-1">Queue</h3>
  </div>

  <main class="flex-1 overflow-y-auto mb-2 mr-2 bg-slate-900 rounded-b-lg" *ngIf="!isQueueNull">
    <div class="flex-1 overflow-y-auto">

      <!-- Now playing -->
      <div class="flex items-center pl-5 text-zinc-200">
        <h4 class="flex-1 text-zinc-400">Now playing</h4>
      </div>

      <div class="mt-4 flex pl-2 pr-2 flex-col list-none">
        <div class="hover:bg-slate-800 hover:rounded-md transition-colors pt-2 pb-2">
          <a href="" class="flex items-center no-underline">
            <lucide-icon name="audio-lines" class="audio-lines pl-0.5 text-sky-500"></lucide-icon>
            <div class="w-10 h-10 rounded-md bg-sky-600 ml-2">
            </div>

            <div class="pl-2 flex flex-col space-y-1">
              <h4 class="text-md text-sky-500">now playing</h4>
              <h5 class="text-sky-700">hinario Adventista</h5>
            </div>
          </a>
        </div>
      </div>

      <!-- next song -->
      <div class="flex items-center mt-2 pl-5 pt-10 text-zinc-200 bg-slate-900 rounded-t-lg">
        <h4 class="flex-1 text-zinc-400">Next song</h4>
      </div>

      <div class="overflow-y-auto">
        <ul class="mt-4 flex pl-2 pr-2 flex-col list-none">
          <li *ngFor="let music of musics" class="hover:bg-slate-800 hover:rounded-md transition-colors pt-2 pb-2">
            <a href="" class="flex items-center no-underline">
              <h4 class="ml-2 mr-2 text-zinc-400">1</h4>
              <div class="w-10 h-10 rounded-md bg-sky-600 ml-2">
              </div>

              <div class="pl-2 flex flex-col space-y-1">
                <h4 class="text-md text-zinc-200">{{music}}</h4>
                <h5 class="text-zinc-400">hinario Adventista</h5>
              </div>
            </a>

          </li>
        </ul>
      </div>
    </div>
  </main>
</div>


<div class="flex flex-col w-96" style="height: 100%" *ngIf="false">

  <!-- if we have music playing -->
  <div class="mt-2 mb-2 mr-2 bg-slate-900 rounded-lg" style="height: 100%" *ngIf="isQueueNull">
    <div class="">
      <div class="flex items-center pt-5 pl-5 pb-5 text-zinc-200 bg-slate-900 rounded-t-lg">
        <h3 class="flex-1 text-zinc-200">Nothing playing now</h3>
      </div>
    </div>
  </div>


  <!-- if we haven't music playing -->
  <div class="mt-2 mr-2" *ngIf="!isQueueNull">
    <div class="bg-slate-900 rounded-lg">
      <div class="flex items-center pt-5 pl-5 pb-5 text-zinc-200 bg-slate-900 rounded-t-lg">
        <h3 class="flex-1 text-zinc-200">Preview</h3>
      </div>

      <!-- preview video -->
      <!--      <div>-->
      <!--        <div class="flex items-center justify-center mr-5 ml-5 pb-5">-->
      <!--          <div class="w-full h-44 bg-sky-600 rounded-md"></div>-->
      <!--        </div>-->
      <!--      </div>-->

      <!-- preview PDF -->
      <div>
        <div class="flex items-center justify-center mr-5 ml-5 pb-5">
          <div class="w-full h-44 bg-sky-600 rounded-md"></div>
        </div>
      </div>

      <div class="flex items-center justify-center pb-5">
        <div>
          <lucide-icon name="chevron-left" size="40" class="flex chevron-left text-zinc-200"></lucide-icon>
        </div>

        <!-- middle control -->
        <div class="flex flex-col pl-2 pr-2">
          <div class="flex gap-4">
            <h4 class="text-zinc-200">Slide 1 to 11</h4>
            <!--          <button class="w-10 h-10 flex flex-col items-center justify-center pt-0.5 rounded-full pl-0.5 border-solid border-slate-950 hover:border-white">-->
            <!--            <lucide-icon name="play" class="play" size="20"></lucide-icon>-->
            <!--          </button>-->
          </div>
          <div class="flex gap-2 pt-2">
            <div class="bg-zinc-500 w-24 h-1 rounded-full">
              <div class="bg-white h-1 rounded-full" style="width: 10%"></div>
            </div>
          </div>
        </div>

        <div>
          <lucide-icon name="chevron-right" size="40" class="flex chevron-right text-zinc-200"></lucide-icon>
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-col overflow-y-auto mb-2 mr-2 mt-2 bg-slate-900 rounded-lg" *ngIf="!isQueueNull">
    <div class="mt-2 pt-5 pl-5 pb-5 text-zinc-200">
      <h3 class="flex-1 text-zinc-200">Queue</h3>
    </div>

    <div class="flex-1 overflow-y-auto">

      <!-- Now playing -->
      <div class="flex items-center mt-2 pl-5 text-zinc-200">
        <h4 class="flex-1 text-zinc-400">Now playing</h4>
      </div>

      <div class="mt-4 flex pl-2 pr-2 flex-col list-none">
        <div class="hover:bg-slate-800 hover:rounded-md transition-colors pt-2 pb-2">
          <a href="" class="flex items-center no-underline">
            <lucide-icon name="audio-lines" class="audio-lines pl-0.5 text-sky-500"></lucide-icon>
            <div class="w-10 h-10 rounded-md bg-sky-600 ml-2">
            </div>

            <div class="pl-2 flex flex-col space-y-1">
              <h4 class="text-md text-sky-500">now playing</h4>
              <h5 class="text-sky-700">hinario Adventista</h5>
            </div>
          </a>
        </div>
      </div>

      <!-- next song -->
      <div class="flex items-center mt-2 pl-5 pt-10 text-zinc-200 bg-slate-900 rounded-t-lg">
        <h4 class="flex-1 text-zinc-400">Next song</h4>
      </div>

      <div class="overflow-y-auto">
        <ul class="mt-4 flex pl-2 pr-2 flex-col list-none">
          <li *ngFor="let music of musics" class="hover:bg-slate-800 hover:rounded-md transition-colors pt-2 pb-2">
            <a href="" class="flex items-center no-underline">
              <h4 class="ml-2 mr-2 text-zinc-400">1</h4>
              <div class="w-10 h-10 rounded-md bg-sky-600 ml-2">
              </div>

              <div class="pl-2 flex flex-col space-y-1">
                <h4 class="text-md text-zinc-200">{{music}}</h4>
                <h5 class="text-zinc-400">hinario Adventista</h5>
              </div>
            </a>

          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
